/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face{
  font-family: 'Merriweather';
  src: url('C:\Users\tobec\Downloads\Merriweather\Merriweather-Regular.ttf') format('woff2');
}

@font-face{
  font-family: 'Roberto_Mono';
  src: url('C:\Users\tobec\Downloads\Merriweather,Roboto_Mono\Roboto_Mono\RobotoMono-VariableFont_wght.ttf') format('woff');
}